<div class="container">
  <div class="panel panel-default">
    <div class="panel-body mt40">
      <table class="table table-striped">
        <tr>
          <th><%= Corporation.human_attribute_name(:name) %></th>
          <td class='cy-corporation-name'><%= current_corporation.name %></td>
        </tr>
        <tr>
          <th><%= Corporation.human_attribute_name(:kana) %></th>
          <td class='cy-corporation-kana'><%= current_corporation.kana %></td>
        </tr>
        <tr>
          <th><%= Corporation.human_attribute_name(:tel) %></th>
          <td class='cy-corporation-tel'><%= current_corporation.tel %></td>
        </tr>
        <tr>
          <th><%= Corporation.human_attribute_name(:postal_code) %></th>
          <td class='cy-corporation-postal-code'><%= current_corporation.postal_code %></td>
        </tr>
        <tr>
          <th><%= Corporation.human_attribute_name(:address) %></th>
          <td class='cy-corporation-address'><%= current_corporation.address %></td>
        </tr>
        <tr>
          <th><%= Corporation.human_attribute_name(:note) %></th>
          <td class='cy-corporation-note'><%= current_corporation.note %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
