<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= Corporation.model_name.human %>一覧</h4>
    <div class="box-tools">
      <%= link_to '新規追加', new_admin_corporation_path, class: 'btn btn-info' %>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= Corporation.human_attribute_name(:id) %></th>
          <th><%= Corporation.human_attribute_name(:name) %></th>
          <th><%= Corporation.human_attribute_name(:kana) %></th>
          <th><%= Corporation.human_attribute_name(:tel) %></th>
          <th><%= Corporation.human_attribute_name(:address) %></th>
          <th style="width: 200px;"></th>
        </tr>
      </thead>
      <tbody>
        <% if @corporations.present? %>
          <% @corporations.each do |corporation| %>
            <tr>
              <td><%= corporation.id %></td>
              <td><%= corporation.name %></td>
              <td><%= corporation.kana %></td>
              <td><%= corporation.tel %></td>
              <td><%= corporation.address %></td>
              <td>
                <%= link_to '詳細', admin_corporation_path(corporation), class: 'btn btn-default' %>
                <%= link_to '編集', edit_admin_corporation_path(corporation), class: 'btn btn-primary' %>
                <%= link_to '削除', admin_corporation_path(corporation), method: :delete, data: { confirm: '削除しますか?' }, class: 'btn btn-danger' %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="20">
              表示する<%= Corporation.model_name.human %>はいません
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @corporations %>
  </div>
</div>
