<% breadcrumb :admin_corporation, @corporation %>
<div class="box box-default">
  <div class="box-body with-border">
    <div class="box-tools">
      <%= link_to '契約者管理', admin_corporation_user_contracts_path(@corporation), class: 'btn btn-info' %>
      <%= link_to 'プラン管理', admin_corporation_plans_path(@corporation), class: 'btn btn-info' %>
      <%= link_to '施設管理者管理', admin_corporation_corporate_admin_users_path(@corporation), class: 'btn btn-default' %>
    </div>
  </div>
</div>

<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= Corporation.model_name.human %>詳細</h4>
    <div class="box-tools">
      <%= link_to "戻る", admin_corporations_path, class: 'btn btn-default' %>
      <%= link_to "編集", edit_admin_corporation_path(@corporation), class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-striped">
      <tr>
        <th><%= Corporation.human_attribute_name(:id) %></th>
        <td><%= @corporation.id %></td>
      </tr>
      <tr>
        <th><%= Corporation.human_attribute_name(:ks_corporation_id) %></th>
        <td><%= @corporation.ks_corporation_id %></td>
      </tr>
      <tr>
        <th><%= Corporation.human_attribute_name(:name) %></th>
        <td><%= @corporation.name %></td>
      </tr>
      <tr>
        <th><%= Corporation.human_attribute_name(:kana) %></th>
        <td><%= @corporation.kana %></td>
      </tr>
      <tr>
        <th><%= Corporation.human_attribute_name(:tel) %></th>
        <td><%= @corporation.tel %></td>
      </tr>
      <tr>
        <th><%= Corporation.human_attribute_name(:postal_code) %></th>
        <td><%= @corporation.postal_code %></td>
      </tr>
      <tr>
        <th><%= Corporation.human_attribute_name(:jwt_token) %></th>
        <td><%= @corporation.jwt_token %></td>
      </tr>
      <tr>
        <th><%= Corporation.human_attribute_name(:ksc_token) %></th>
        <td><%= @corporation.ksc_token %></td>
      </tr>
      <tr>
        <th><%= Corporation.human_attribute_name(:address) %></th>
        <td><%= @corporation.address %></td>
      </tr>
      <tr>
        <th><%= Corporation.human_attribute_name(:note) %></th>
        <td><%= @corporation.note  %></td>
      </tr>
    </table>
  </div>
</div>

<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= Shop.model_name.human %>一覧</h4>
    <div class="box-tools">
      <%= link_to "新規追加", new_admin_corporation_shop_path(@corporation), class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= Shop.human_attribute_name(:id) %></th>
          <th><%= Shop.human_attribute_name(:name) %></th>
          <th><%= Shop.human_attribute_name(:tel) %></th>
          <th><%= Shop.human_attribute_name(:registerable) %></th>
          <th style="width: 200px;"></th>
        </tr>
      </thead>
      <tbody>
        <% @shops.each do |shop| %>
          <tr>
            <td><%= shop.id %></td>
            <td><%= shop.name %></td>
            <td><%= shop.tel %></td>
            <td><%= shop.registerable ? '可' : '不可' %></td>
            <td>
              <%= link_to '詳細', admin_corporation_shop_path(@corporation, shop), class: 'btn btn-default' %>
              <%= link_to '編集', edit_admin_corporation_shop_path(@corporation, shop), class: 'btn btn-primary' %>
              <%= link_to '削除', admin_corporation_shop_path(@corporation, shop), method: :delete, data: { confirm: '削除しますか?' }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @shops %>
  </div>
</div>

