<div id="mega-slider" class="carousel slide " data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'slide-1.png' %>
      <div class="carousel-caption">
        <h2>KS Booking</h2>
        <p><span style='font-weight: bold; font-size: 24px;'>"今すぐ"</span>使える施設予約サイト</p>
      </div>
    </div>
  </div>
</div>
<div class="row middle-menu">
  <div class="col-md-12">
    <div class="mg-filter">
      <% if logged_in? %>
        <%= link_to 'ご利用可能な施設', facilities_path, class: 'btn btn-dark btn-main' %>
      <% else %>
        <%= link_to 'ログイン', sign_in_path, class: 'btn btn-dark btn-main' %>
      <% end %>
    </div>
  </div>
</div>

<div class="mg-news-gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2 class="mg-sec-left-title">お知らせ</h2>
        <ul class="mg-recnt-posts">
          <% @information.each do |information| %>
            <li>
              <div class="mg-recnt-post">
                <div class="mg-rp-month"><%= date_short_ja information.created_at %> - <%= information.shop_name %></div>
                <h3><%= link_to information.title, information_path(information) %></h3>
                <div class="short-box">
                  <%= information.description %>
                </div>
                <div class="text-right mt15">
                  <%= link_to '続きを読む', information_path(information) %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <div class="text-center"><%= link_to '過去のお知らせを見る', information_index_path %></div>
      </div>
      <div class="col-md-7">
        <h2 class="mg-sec-left-title">イベント情報</h2>
        <% @shops.each do |shop| %>
          <% if shop.calendar_url.present? %>
            <iframe src="<%= shop.calendar_url %>" style="border: 0" width="100%" height="400" frameborder="0" scrolling="no"></iframe>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- ご利用可能な部屋 -->
<div class="mg-best-rooms">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mg-sec-title">
          <h2>店舗情報</h2>
        </div>
        <div class="row">
          <!-- -->
          <% @shops.each do |shop| %>
            <div class="col-sm-4">
              <figure class="mg-room">
                <%= image_tag shop.image_url(:main), class: 'img-responsive' %>
                <figcaption>
                  <h2><%= shop.name %></h2>
                  <div class="mg-room-price"><sup><%# 最低料金 %></sup><%#= yen_sign(Plan.lowest_price(shop.id)) %></div>
                  <%= link_to shop_path(shop), class: 'btn btn-link' do %>
                    詳細を見る <i class="fa fa-angle-double-right"></i>
                  <% end %>
                  <p>
                  <%#= link_to '詳細', shop_path(shop), class: 'btn btn-main' %>
                </figcaption>
              </figure>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
