<div class="mg-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mg-sec-title">
          <h2><%= Shop.model_name.human %>詳細</h2>
        </div>
        <div class="mb50">
          <%= link_to "戻る", corporations_shops_path, class: 'btn btn-default' %>
          <%= link_to "編集", edit_corporations_shop_path, class: 'btn btn-primary' %>
        </div>
        <table class="table mb40">
          <tr>
            <th style="width: 200px;"><%= Shop.human_attribute_name(:name) %></th>
            <td><%= @shop.name %></td>
          </tr>
          <tr>
            <th><%= Shop.human_attribute_name(:postal_code) %></th>
            <td><%= @shop.postal_code %></td>
          </tr>
          <tr>
            <th><%= Shop.human_attribute_name(:address) %></th>
            <td><%= @shop.address %></td>
          </tr>
         <tr>
            <th><%= Shop.human_attribute_name(:lat) %>, <%= Shop.human_attribute_name(:lat) %></th>
            <td>
              <% if @shop.lat? && @shop.lon? %>
                <%= @shop.lat %>, <%= @shop.lon %><br><br>
                <div class="google-map" style="height: 300px;" data-lat="<%= @shop.lat %>" data-lon="<%= @shop.lon %>"></div>
              <% end %>
            </td>
          </tr>
          <tr>
            <th><%= Shop.human_attribute_name(:tel) %></th>
            <td><%= @shop.tel %></td>
          </tr>
          <tr>
            <th><%= Shop.human_attribute_name(:opening_time) %></th>
            <td><%= time_fmt(@shop.opening_time) %></td>
          </tr>
          <tr>
            <th><%= Shop.human_attribute_name(:closing_time) %></th>
            <td><%= time_fmt(@shop.closing_time) %></td>
          </tr>
        </table>
        <hr class="mb50 mt0">
        <div class="mg-sec-title">
          <h2><%= Facility.model_name.human %>一覧</h2>
        </div>
        <div class="mb50">
          <%= link_to "新規追加", new_corporations_shop_facility_path(@shop), class: 'btn btn btn-main' %>
        </div>
        <table class="table mb40">
          <thead>
            <tr>
              <th><%= Facility.human_attribute_name(:name) %></th>
              <th style="width: 300px;"></th>
            </tr>
          </thead>
          <tbody>
            <% @shop.facilities.each do |facility| %>
              <tr>
              <td><%= facility.name %></td>
              <td>
                <%= link_to '詳細', corporations_shop_facility_path(@shop, facility), class: 'btn btn-default' %>
                <%= link_to '編集', edit_corporations_shop_facility_path(@shop, facility), class: 'btn btn-primary' %>
                <%= link_to '削除', corporations_shop_facility_path(@shop, facility), method: :delete, data: { confirm: '削除しますか?' }, class: 'btn btn-danger' %>
              </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
