<% content_for :middle_title do %>
  <h2>パスワード再発行</h2>
<% end %>
<div class="login">
  <div class="container">
    <%= bootstrap_form_for @user, url: update_password_sessions_path(params[:token]) do |f| %>
      <div class="row">
        <div class="col-md-offset-3 col-md-6 col-xs-12">
          <div class="mg-contact-form-input">
            <%= f.password_field :password %>
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-3 col-md-3 col-xs-12">
          <%= f.button 'パスワード登録', class: 'btn btn-main btn-block' %>
        </div>
        <div class="col-md-3 col-xs-12">
          <%= link_to 'キャンセル', sign_in_path, class: 'btn btn-dark btn-block' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
