<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= Settings.sitename %>管理画面 | 会員登録</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />

    <!-- LanderApp's stylesheets -->
    <%= stylesheet_link_tag 'users/application', media: 'all' %>
    <%= javascript_include_tag 'users/application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <b><%= Settings.sitename %></b><br><small>会員登録</small>
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <%= render 'shared/flash' %>
        <%= yield %>
      </div>
      <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
  </body>
</html>
