<%= search_form_for q, url: corporation_manage_dropin_reservations_path, class: "form-inline" do |f| %>
  <div class='input-group date datepicker'>
    <%= f.text_field :checkin_during_month,
                     data: { :date_format => 'YYYY/MM' },
                     :class => 'form-control monthPicker',
                     placeholder: t('.select_year_month') %>
  </div>
  <%= f.search_field :facility_shop_corporation_name_cont, placeholder: Corporation.human_attribute_name(:name), class: 'form-control' %>
  <%= f.search_field :facility_shop_name_cont, placeholder: Shop.human_attribute_name(:name), class: 'form-control' %>
  <%= f.search_field :facility_name_cont, placeholder: Facility.human_attribute_name(:name), class: 'form-control' %>
  <%= f.search_field :user_name_cont, placeholder: t('.input_name'), class: 'form-control' %>
  <%= f.select :state_eq,
               DropinReservation.states_i18n.invert.map { |key, val| [key, DropinReservation.states[val]] },
               { include_blank: true },
               class: 'form-control' %>
  <%= f.submit t('common.btn.search'), class: 'btn btn-info w40 mr10' %>
<% end %>
