<div class="mg-single-room">
  <div class="container">
    <div class="row mb-20">
      <div class="col-md-7">
        <%= image_tag @shop.image_url(:main), class: 'img-responsive' %>
      </div>
      <div class="col-md-5 mg-room-fecilities">
        <h2 class="mg-sec-left-title"><%= @shop.name %></h2>
        <div class="row">
          <div class="col-xs-12">
            <p> <%= "〒#{@shop.postal_code} #{@shop.address}" %></p>
            <p><%= "電話: #{tel_fmt(@shop.tel)}" %></p>
            <p><%= "営業時間: #{time_fmt(@shop.opening_time)} - #{time_fmt(@shop.closing_time)}" %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mg-shop-show-map">
      <div class="mg-single-room-txt">
        <h4 class="mg-sec-left-title">MAP</h4>
        <div class="row">
          <div class="col-md-12">
            <% if @shop.lat? && @shop.lon? %>
              <div class="google-map" style="height: 300px;" data-lat="<%= @shop.lat %>" data-lon="<%= @shop.lon %>"></div>
            <% end %>
          </div>
        </div>
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="mg-single-room-txt">
          <h3 class="mg-shop-facility-title">施設一覧</h3>
          <% if @facilities.present? %>
            <% @facilities.each do |facility| %>
              <div class="mg-available-rooms">
                <div class="row">
                  <div class="col-sm-4">
                    <%= image_tag facility.image.main.url, class: 'img-responsive' %>
                  </div>
                  <div class="col-sm-8">
                    <h3 class="mg-avl-room-title">
                      <%= link_to new_shop_facility_path(@shop, id: facility.id) do %>
                        <%= facility.name %>
                      <% end %>
                      <span>&yen;<%= facility.min_hourly_price(@user) %> / h 〜</span>
                    </h3>
                    <div class='row mg-room-fecilities'>
                      <div class='col-sm-12'>
                        <ul>
                          <li>
                            <i class="fa fa-user"></i>
                            <span class="mg-desc-text"><%= facility.max_num %>人まで</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="mg-available-rooms">
              <div class="row">
                <div class="col-md-12 text-center">
                  現在利用可能な施設はありません。
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <br/>
  </div>
</div>
