<% content_for :middle_title do %>
  <h2>店舗情報</h2>
<% end %>
<div class="mg-page mg-available-rooms">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <% @shops.each do |shop| %>
          <div class="mg-avl-room">
            <div class="row">
              <div class="col-sm-4">
                <% if shop.image? %>
                  <%= link_to shop_path(shop) do %>
                    <%= image_tag shop.image_url(:main), class: 'img-responsive' %>
                  <% end %>
                <% else %>
                  <%= link_to shop_path(shop) do %>
                    <%= image_tag 'noimage.png', class: 'img-responsive' %>
                  <% end %>
                <% end %>
              </div>
              <div class="col-sm-4">
                <h4 class="mg-avl-room-title">
                  <%= link_to shop_path(shop) do %>
                    <%= shop.name %>
                  <% end %>
                </h4>
                <p>
                <%= "〒#{shop.postal_code} #{shop.address}" %>
                </p>
                <div>
                  <%= "電話: #{tel_fmt(shop.tel)}" %>
                </div>
                <div>
                  <%= "営業時間: #{time_fmt(shop.opening_time)} - #{time_fmt(shop.closing_time)}" %>
                </div>
              </div>
              <div class="col-sm-4">
                <% if shop.lat? && shop.lon? %>
                  <div class="google-map" data-lat="<%= shop.lat %>" data-lon="<%= shop.lon %>"></div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <%= paginate @shops %>
      </div>
    </div>
  </div>
</div>
