<% content_for :middle_title do %>
  <h2><%= "スペースー#{@shop.name}" %></h2>
<% end %>
<div class="mg-single-room">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <%= image_tag @shop.image_url(:main), class: 'img-responsive' %>
      </div>
      <div class="col-md-5 mg-room-fecilities">
        <h2 class="mg-sec-left-title"><%= @shop.name %></h2>
        <div class="row">
          <div class="col-xs-12">
            <p> <%= "〒#{@shop.postal_code} #{@shop.address}" %></p>
            <div class="row mg-room-fecilities">
              <div class="col-sm-12">
                <ul class='ul-newline'>
                  <li>
                    <%= "電話: #{tel_fmt(@shop.tel)}" %>
                  </li>
                  <li>
                    <%= "営業時間: #{time_fmt(@shop.opening_time)} - #{time_fmt(@shop.closing_time)}" %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-12">
        <div class="mg-single-room-txt">
          <h4 class="mg-sec-left-title">ご利用可能なプラン</h4>
          <div class="row">
            <div class="col-md-12">
              <p>
                <% Plan.available_in_shop(@shop.id).each_with_index do |plan, i| %>
                  <div class="col-sm-4">
                    <div class="mg-feature">
                      <h5 class='text-center'><%= plan.name %></h5>
                      <p class='desc-col'><%= truncate(plan.description, length: 100) %></p>
                      <%= link_to '申し込み', new_user_contract_url(shop_name: @shop.name, plan_name: plan.name ), class: 'btn btn-dark-main center-block' %>
                    </div>
                  </div>
                  <div class="<%= 'clearfix' if (i+1) % 3 == 0 %>"></div>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
