<% content_for :middle_title do %>
  <h2><%= "#{@shop.name}" %></h2>
<% end %>
<div class="mg-single-room">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <%= image_tag @shop.image_url(:main), class: 'img-responsive' %>
      </div>
      <div class="col-md-5 mg-room-fecilities">
        <h2 class="mg-sec-left-title"><%= @shop.name %></h2>
        <div class="row">
          <div class="col-xs-12">
            <p> <%= "〒#{@shop.postal_code} #{@shop.address}" %></p>
            <div class="row mg-room-fecilities">
              <div class="col-sm-12">
                <ul class='ul-newline'>
                  <li>
                    <%= "電話: #{tel_fmt(@shop.tel)}" %>
                  </li>
                  <li>
                    <%= "営業時間: #{time_fmt(@shop.opening_time)} - #{time_fmt(@shop.closing_time)}" %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="mg-single-room-txt">
          <h3 class="mg-shop-facility-title">施設一覧</h3>
          <%# TODO: メソッドにする %>
          <% (@shop.facilities.conference_room + @shop.facilities.rent).each do |facility| %>
            <div class="mg-available-rooms">
              <div class="row">
                <div class="col-sm-4">
                  <%= link_to new_reservation_path(facility_id: facility.id) do %><% image_tag facility.image.main.url, class: 'img-responsive' %><% end %>
                </div>
                <div class="col-sm-8">
                  <h3 class="mg-avl-room-title">
                    <%= link_to new_reservation_path(facility_id: facility.id) do %>
                      <%= facility.name %>
                    <% end %>
                    <span>&yen;<%= facility.min_hourly_price(@user) %> / h 〜</span>
                  </h3>
                  <div class='row mg-room-fecilities'>
                    <div class='col-sm-12'>
                      <ul>
                        <li>
                          <i class="fa fa-user"></i>
                          <span class="mg-desc-text"><%= facility.max_num %>人まで</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <%= link_to new_shop_facility_path(@shop, id: facility.id), class: 'btn btn-main' do %>
                    詳細<i class="fa fa-angle-double-right"></i>
                  <% end %>
                </div>

              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-12">
        <div class="mg-single-room-txt">
          <h4 class="mg-sec-left-title"><%= Shop.human_attribute_name(:address) %></h4>
          <div class="row">
            <div class="col-md-12">
              <% if @shop.lat? && @shop.lon? %>
                <div class="google-map" style="height: 300px;" data-lat="<%= @shop.lat %>" data-lon="<%= @shop.lon %>"></div>
              <% end %>
            </div>
          </div>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
