<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading tl_c">
        パスワード再発行
      </div>
      <div class="panel-body">
        <%= bootstrap_form_for @user, url: update_password_users_sessions_path(params[:token]), layout: :horizontal, label_col: 'col-md-4', control_col: 'col-md-8' do |f| %>
          <%= f.static_control :email, label: 'メールアドレス' %>
          <%= f.password_field :password %>
          <%= f.password_field :password_confirmation %>
          <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-12"></div>
            <div class="col-md-5 col-sm-5 col-xs-12">
              <%= f.button 'パスワード再発行', class: 'btn btn-default' %>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= link_to 'キャンセル', users_sign_in_path, class: 'btn btn-default' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
