<% breadcrumb :payment_admin_reservations %>
<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= Payment.model_name.human %>詳細</h4>
    <div class="box-tools">
      <%= link_to "戻る", new_admin_reservation_path, class: 'btn btn-default' %>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-striped">
      <tr>
        <th><%= Shop.human_attribute_name(:name) %></th>
        <td><%= @reservation.facility.shop.name %></td>
      </tr>
      <tr>
        <th><%= Reservation.human_attribute_name(:facility_id) %></th>
        <td><%= @reservation.facility.name %></td>
      </tr>
      <tr>
        <th><%= Reservation.human_attribute_name(:user_id) %></th>
        <td><%= @reservation.user.name %></td>
      </tr>
      <tr>
        <th><%= Reservation.human_attribute_name(:checkin) %></th>
        <td><%= @reservation.checkin %></td>
      </tr>
      <tr>
        <th><%= Reservation.human_attribute_name(:checkout) %></th>
        <td><%= @reservation.checkout %></td>
      </tr>
      <tr>
        <th><%= Reservation.human_attribute_name(:usage_period) %></th>
        <td><%= @reservation.usage_period %></td>
      </tr>
      <tr>
        <th><%= Reservation.human_attribute_name(:price) %></th>
        <td><%= delimiter_price(@reservation.price) %></td>
      </tr>
      <tr>
        <th><%= User.human_attribute_name(:payway) %></th>
        <td><%= @reservation.user.payway_i18n %></td>
      </tr>
    </table>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <%= link_to "決済する", confirm_admin_reservations_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
