<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= User.model_name.human %>詳細</h4>
    <div class="box-tools">
      <%= link_to "戻る", corporations_users_path, class: 'btn btn-default' %>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-striped">
      <tr>
        <th><%= User.human_attribute_name(:name) %></th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th><%= User.human_attribute_name(:email) %></th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th><%= User.human_attribute_name(:tel) %></th>
        <td><%= @user.tel %></td>
      </tr>
      <tr>
        <th><%= User.human_attribute_name(:state) %></th>
        <td><%= @user.state_i18n %></td>
      </tr>
      <tr>
        <th><%= User.human_attribute_name(:payway) %></th>
        <td><%= @user.payway_i18n %></td>
      </tr>
    </table>
  </div>
</div>
