<div class="mg-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mg-sec-title">
          <h2><%= User.model_name.human %>詳細</h2>
        </div>
        <div class="mb50">
          <%= link_to "戻る", corporations_users_path, class: 'btn btn-default' %>
        </div>
        <table class="table mb40">
          <tr>
            <th><%= User.human_attribute_name(:name) %></th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th><%= User.human_attribute_name(:email) %></th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th><%= User.human_attribute_name(:tel) %></th>
            <td><%= @user.tel %></td>
          </tr>
          <tr>
            <th><%= User.human_attribute_name(:state) %></th>
            <td><%= @user.state_i18n %></td>
          </tr>
          <tr>
            <th><%= User.human_attribute_name(:payway) %></th>
            <td><%= @user.payway_i18n %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
