<div id="mega-slider" class="carousel slide " data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#mega-slider" data-slide-to="0" class="active"></li>
    <li data-target="#mega-slider" data-slide-to="1"></li>
    <li data-target="#mega-slider" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'slide-4.png' %>
      <div class="carousel-caption">
        <h2>Welcome to Mega Hotel</h2>
        <p>Cogitavisse erant puerilis utrum efficiantur adhuc expeteretur.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'slide-2.png' %>
      <div class="carousel-caption">
        <%= image_tag 'stars.png' %>
        <h2>Feel Like Your Home</h2>
        <p>Cogitavisse erant puerilis utrum efficiantur adhuc expeteretur.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'slide-3.png' %>
      <div class="carousel-caption">
        <%= image_tag 'stars.png' %>
        <h2>Perfect Place for Dining</h2>
        <p>Cogitavisse erant puerilis utrum efficiantur adhuc expeteretur.</p>
      </div>
    </div>
  </div>
