<% content_for :middle_title do %>
  <h2>お知らせ</h2>
<% end %>
<div class="mg-blog-list">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <main>
        <% @information.each do |information| %>
          <article class="mg-post">
            <header>
              <h2 class="mg-post-title"><%= link_to information.title, information_path(information) %></h2>
              <div class="mg-post-meta">
                <span><%= date_short_ja information.created_at %> - <%= information.shop_name %></span>
              </div>
            </header>
            <div class="middle-box">
              <%= information.description %>
            </div>
            <footer class="clearfix mt15">
              <%= link_to information_path(information), class: 'mg-read-more' do %>続きを読む<i class="fa fa-long-arrow-right"></i><% end %>
            </footer>
          </article>
        <% end %>
        <%= paginate @information %>
        </main>
      </div>

      <div class="col-md-4">
        <%= render 'recent_information', recent_information: @recent_information %>
      </div>
    </div>
  </div>
</div>
