<% content_for :middle_title do %>
  <h2>アカウント情報更新</h2>
<% end %>
<div class="panel panel-default">
  <div class="panel-body edit-user-panel mt40">
    <div class="mg-sec-title">
      <h3>アカウント情報</h3>
    </div>
    <%= bootstrap_form_for @user, url: user_path, layout: :horizontal, label_col: 'col-md-4', control_col: 'col-md-8' do |f| %>
      <%= f.text_field :name %>
      <%= f.text_field :tel %>
      <%= f.text_field :email %>
      <%= f.password_field :password, placeholder: "4文字以上" %>
      <%= f.password_field :password_confirmation, placeholder: "4文字以上" %>
      <%= f.form_group :advertise_notice_flag, label: { } do %>
        <%= f.check_box :advertise_notice_flag, label: '' %>
      <% end %>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 col-sm-6 col-xs-6">
          <%= link_to 'キャンセル', user_path, class: 'btn btn-default' %>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
          <%= f.button '更新', class: 'btn btn-dark-main' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
