<% content_for :middle_title do %>
  <h2>アカウント情報更新</h2>
<% end %>
<div class="panel panel-default">
  <div class="panel-body edit-user-panel mt40">
    <div class="mg-sec-title">
      <h3>アカウント情報</h3>
    </div>
    <%= bootstrap_form_for @user, url: user_path, layout: :horizontal, label_col: 'col-md-4', control_col: 'col-md-8' do |f| %>
      <%= f.text_field :name %>
      <%= f.text_field :tel %>
      <%= f.text_field :email %>
      <%= f.password_field :password, placeholder: "4文字以上" %>
      <%= f.password_field :password_confirmation, placeholder: "4文字以上" %>
      <%= f.form_group :advertise_notice_flag, label: { } do %>
        <%= f.check_box :advertise_notice_flag, label: '' %>
      <% end %>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 col-sm-6 col-xs-6">
          <%= link_to 'キャンセル', user_path, class: 'btn btn-default' %>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
          <%= f.button '更新', class: 'btn btn-dark-main' %>
        </div>
      </div>
    <% end %>
  <div class="panel-body mt50">
    <div class="mg-sec-title">
      <h3>本人確認</h3>
    </div>
    <%= bootstrap_form_for @personal_identification, url: personal_identification_path, layout: :horizontal, label_col: 'col-md-4', control_col: 'col-md-8' do |f| %>
      <div class='notify-personal-identification-block'>
        <div class='notify-personal-identification'>※ 本人確認書類は初回のみ提示すれば済みます。</div>
        <div class='notify-personal-identification'>※ 本人確認審査の結果は約1週間ほどかかります。審査結果はメールでも通知されます。</div> 
        <div class='notify-personal-identification'>※ 裏面に住所変更や氏名変更などの記載事項がある場合は、裏面にも提出をお願いします。</div>
      </div>
      <%= f.file_field :files, multiple: true, label: '正面の写真' %>
      <%= f.file_field :files, multiple: true, label: '背面の写真' %>
      <%= f.button 'アップロード', class: 'btn btn-dark-main center-block' %>
    <% end %>
  </div>
</div>
