<div class="mg-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mg-sec-title">
          <h2><%= Facility.model_name.human %>詳細</h2>
        </div>
        <div class="mb50">
          <%= link_to "戻る", corporations_shop_path(@shop), class: 'btn btn-default' %>
          <%= link_to "編集", edit_corporations_shop_facility_path, class: 'btn btn-primary' %>
        </div>
        <table class="table mb40">
          <tr>
            <th style="width: 200px;"><%= Facility.human_attribute_name(:name) %></th>
            <td><%= @facility.name %></td>
          </tr>
          <% @facility.plans.each_with_index do |plan, i| %>
            <tr>
              <th><%= FacilityPlan.human_attribute_name(:plan_id) if i == 0 %></th>
              <td><%= plan.name %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
