<header class="header transp sticky">
  <%= render "shared/flash" %>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: 'navbar navbar-light' do %><%= image_tag 'logo_final.png', class: 'mt5', width: '65' %><% end %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to '店舗情報', shops_path  %>
          </li>
          <li>
            <%= link_to dropin_spot_dropin_reservations_path do %>
              ドロップイン利用<br />
              Drop in
            <% end %>
          </li>
          <li>
            <%= link_to spot_reservations_path do %>
              施設予約<br />
              Reservation
            <% end %>
          </li>
          <% if logged_in? %>
            <li>
              <%= link_to facilities_path do  %>
                ご利用可能な施設<br />
                Available facilities
              <% end %>
            </li>
            <!-- 施設管理者面メニュー -->
            <% if current_corporation? %>
              <li class="dropdown">
                <%= link_to '施設管理', corporation_manage_root_path %>
              </li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %>様<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to '会議室のご予約履歴', reservations_path %></li>
                <li><%= link_to 'スペースのご予約履歴', dropin_reservations_path   %></li>
                <li><%= link_to 'アカウント設定', user_path %></li>
                <li><%= link_to 'クレジットカード設定', set_credit_card(current_user) %></li>
                <% if current_user_corp %>
                  <li><%= link_to 'ご利用者様招待', invitations_path %></li>
                <% end %>
                <li><%= link_to 'ログアウト', sign_out_path %></li>
              </ul>
            </li>
          <% else %>
            <li>
              <%= link_to sign_in_path do %>
                ログイン<br />
                Login
              <% end %>
            </li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
