<header class="header transp sticky">
  <%= render 'shared/flash' %>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: 'navbar navbar-light' do %><%= image_tag 'logo_final.png', class: 'mt5', width: '65' %><% end %>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% #フレキシブル利用者にのみメニュー表示 %>
          <% if current_user.present? && current_user.ks_flexible? %>
            <li>
              <%= link_to shop_path(Shop.find_by(id: Shop::FLEXIBLE_SHOP_ID)) do %>
                フレキシブル利用<br />
                Flexible
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to shop_path(Shop.find_by(id: Shop::RENT_SHOP_ID)) do %>
              賃貸物件情報<br />
              Rent
            <% end %>
          </li>
          <li>
            <%= link_to shops_path do %>
              店舗情報<br />
              Shop
            <% end %>
          </li>
          <li>
            <%= link_to dropin_spot_dropin_reservations_path do %>
              ドロップイン利用<br />
              Drop in
            <% end %>
          </li>
          <li>
            <%= link_to spot_reservations_path do %>
              施設予約<br />
              Reservation
            <% end %>
          </li>
          <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %>様<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% if current_user.corporate_admin? %>
                  <li><%= link_to t('common.sidebar.manage', name: Corporation.model_name.human), corporation_manage_root_path %></li>
                <% end %>
                <li><%= link_to 'ご利用可能な施設', facilities_path %></li>
                <li><%= link_to '会議室のご予約履歴', reservations_path %></li>
                <li><%= link_to 'スペースのご予約履歴', dropin_reservations_path   %></li>
                <li><%= link_to 'アカウント設定', user_path %></li>
                <li><%= link_to 'クレジットカード設定', set_credit_card(current_user) %></li>
                <% if current_user_corp %>
                  <li><%= link_to 'ご利用者様招待', invitations_path %></li>
                <% end %>
                <li><%= link_to 'ログアウト', sign_out_path %></li>
              </ul>
            </li>
          <% else %>
            <li>
              <%= link_to sign_in_path do %>
                ログイン<br />
                Login
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
