<header class="header transp sticky"> <!-- available class for header: .sticky .center-content .transp --> 
  <nav class="navbar navbar-inverse">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: 'navbar-brand' do %><%= image_tag 'logo.png' %><% end %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to '店舗情報', shops_path  %>
          </li>

          <% if logged_in? %>
            <li>
              <%= link_to 'ご利用可能な施設', facilities_path  %>
            </li>
            <!-- 施設管理者面メニュー -->
            <% if current_corporation? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">施設管理者メニュー<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to '法人設定', corporation_path %></li>
                  <li><%= link_to 'プラン管理', plans_path %></li>
                </ul>
              </li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %>様<span class="caret"></span></a>
              <ul class="dropdown-menu">
<<<<<<< HEAD
                <li><%= link_to '個人設定', user_path %></li>
                <li><%= link_to 'クレジットカード設定', set_credit_card(current_user) %></li>
=======
                <li><%= link_to 'アカウント設定', user_path %></li>
                <% if current_user_corp %>
                  <li><%= link_to 'ご利用者様招待', invitations_path %></li>
                <% end %>
>>>>>>> feature/ISSUE-100
                <li><%= link_to 'ログアウト', sign_out_path %></li>
              </ul>
            </li>
          <% else %>
            <li>
              <%= link_to 'ログイン', sign_in_path %>
            </li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
