<% content_for :middle_title do %>
  <h2>スポット利用可能施設</h2>
<% end %>
<div class="mg-single-room">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mg-single-room-txt">
          <div class="row">
            <div class="col-md-12">
              <div id='facility_calendars' data-facility="<%= @facilities.pluck(:id) %>"></div>
              <% @facilities.each do |facility| %>
                <div class="mg-available-rooms">
                  <div class="row">
                    <div class="col-sm-4">
                      <%= link_to show_spot_facility_path(facility) do %><% image_tag facility.image.main.url, class: 'img-responsive' %><% end %>
                    </div>
                    <div class="col-sm-8">
                      <h3 class="mg-avl-room-title">
                        <%= link_to show_spot_facility_path(facility) do %>
                          <%= facility.name %> - <%= facility.shop.name %>
                        <% end %>
                        <span>&yen;<%= facility.min_hourly_price(current_user) %> / h 〜</span>
                      </h3>
                      <div class='mg-avl-room-desc'>
                      <%= simple_format facility.description %>
                      </div>
                      <%= link_to '予約する', show_spot_facility_path(facility), class: 'btn btn-main btn-next-tab' %>
                    </div>
                  </div>
                </div>
              <% end %>
              <%= paginate @facilities %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
