<% content_for :middle_title do %>
  <h2>利用可能施設</h2>
<% end %>
<div class="mg-page mg-available-rooms">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <% @facilities.each do |facility| %>
          <div class="mg-avl-room">
            <div class="row">
              <div class="col-sm-5">
                <%= link_to facility_path(facility) do %><%= image_tag facility.image.main.url, class: 'img-responsive' %><% end %>
              </div>
              <div class="col-sm-7">
                <h3 class="mg-avl-room-title">
                  <%= link_to facility_path(facility) do %>
                    <%= facility.name %> - <%= facility.shop_name %>
                  <% end %>
                </h3>
                <div class="mg-single-room-txt">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>鍵名称</th>
                        <th>パスワード</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% facility.facility_keys.each do |key| %>
                        <tr>
                          <td><%= key.name %></td>
                          <td><%= key.password %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                <p><%= simple_format facility.description %></p>
                <%= link_to facility_path(facility), class: 'btn btn-dark' do %>
                  詳細<i class="fa fa-angle-double-right"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
