<div class="mg-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mg-sec-title">
          <h2><%= Plan.model_name.human %>一覧</h2>
        </div>
        <div class="mb50">
          <%= link_to "新規追加", new_corporations_plan_path, class: 'btn btn-main' %>
        </div>
        <table class="table mb40">
          <thead>
            <tr>
              <th><%= Plan.human_attribute_name(:name) %></th>
              <th><%= Plan.human_attribute_name(:price) %></th>
              <th style="width: 250px;"></th>
            </tr>
          </thead>
          <tbody>
            <% if @plans.present? %>
              <% @plans.each do |plan| %>
                <tr>
                  <td><%= plan.name %></td>
                  <td><%= delimiter_price(plan.price) %></td>
                  <td>
                    <%= link_to '編集', edit_corporations_plan_path(plan), class: 'btn btn-primary' %>
                    <%= link_to '削除', corporations_plan_path(plan), method: :delete, data: { confirm: '削除しますか?' }, class: 'btn btn-danger' %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
