<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="<%= active_parent('plans') %>">
        <%= link_to corporation_manage_plans_path do %>
          <i class='fa fa-university'></i>
          <span><%= t('common.sidebar.manage', name: Plan.model_name.human) %></span>
        <% end %>
      </li>
      <li class="<%= active_parent('user_contracts') %>">
        <%= link_to corporation_manage_user_contracts_path do %>
          <i class='fa fa-users'></i>
          <span><%= t('common.sidebar.manage', name: UserContract.model_name.human) %></span>
        <% end %>
      </li>
      <li class="<%= active_parent('users') %>">
        <%= link_to corporation_manage_users_path do %>
          <i class='fa fa-university'></i>
          <span><%= t('common.sidebar.manage', name: User.model_name.human) %></span>
        <% end %>
      </li>
      <li class="<%= active_parent('information') %>">
        <%= link_to corporation_manage_information_index_path do %>
          <i class='fa fa-info'></i>
          <span><%= t('common.sidebar.manage', name: Information.model_name.human) %></span>
        <% end %>
      </li>
    </ul>
  </section>
</aside>
