<div class="box box-default">
  <div class="box-header">
    <div class="panel panel-inverse">
      <div class="panel-body">
        <%= search_form_for @q, url: corporation_manage_users_path, :class => "form-inline" do |f| %>
          <div class="mb20">
            <%= f.search_field :name_cont, placeholder: "名前", class: "form-control" %>
            <%= f.search_field :tel_cont, placeholder: "電話番号", class: "form-control" %>
            <%= f.search_field :email_cont, placeholder: "メールアドレス", class: "form-control" %>
            <%= f.select :state_eq, User.states_i18n.invert.map{|k, v| [k, User.states[v]]}, { include_blank: '状態を指定' }, { class: "form-control" } %>
            <%= f.submit "検索", class: "btn btn-info w40 mr10" %>
          </div>
        <% end %>
      </div>
    <div class="box-tools">
      <%= link_to t('common.btn.new'), new_corporation_manage_user_path, class: 'btn btn-info' %>
    </div>
  </div>
  <div class="box-body table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= User.human_attribute_name(:id) %></th>
          <th><%= User.human_attribute_name(:name) %></th>
          <th><%= User.human_attribute_name(:email) %></th>
          <th><%= User.human_attribute_name(:tel) %></th>
          <th><%= User.human_attribute_name(:state) %></th>
          <th><%= User.human_attribute_name(:payway) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr class="cy-user-<%= user.id %>">
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.tel %></td>
          <td><%= user.state_i18n %></td>
          <td><%= user.payway_i18n %></td>
          <td>
            <% if current_user.is_ks_member?  %>
            <%= link_to '郵便物受け取り',
              postal_matter_notification_corporation_manage_user_path(user),
              method: :post,
              data: { confirm: 'メールを送信します。よろしいですか？' },
              class: 'btn btn-success' %>
            <% end %>
            <%= link_to t('common.btn.show'), corporation_manage_user_path(user), class: 'btn btn-default' %>
            <%= link_to t('common.btn.edit'), edit_corporation_manage_user_path(user), class: 'btn btn-primary' %>
            <% if user.deletable? %>
              <%= link_to t('common.btn.delete'),
                          corporation_manage_user_path(user),
                          method: :delete,
                          data: { confirm: t('common.confirms.really_to_delete') },
                          class: 'btn btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @users %>
  </div>
</div>
