<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= User.model_name.human %>詳細</h4>
    <div class="box-tools">
      <%= link_to '戻る', corporation_manage_users_path, class: 'btn btn-default' %>
      <%= link_to '編集', edit_corporation_manage_user_path(@user), class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-striped">
      <tr>
        <th><%= User.human_attribute_name(:id) %></th>
        <td><%= @user.id %></td>
      </tr>
      <tr class="cy-user-name">
        <th><%= User.human_attribute_name(:name) %></th>
        <td><%= @user.name %></td>
      </tr>
      <tr class="cy-user-email">
        <th><%= User.human_attribute_name(:email) %></th>
        <td><%= @user.email %></td>
      </tr>
      <tr class="cy-user-tel">
        <th><%= User.human_attribute_name(:tel) %></th>
        <td><%= @user.tel %></td>
      </tr>
      <tr class="cy-user-state">
        <th><%= User.human_attribute_name(:state) %></th>
        <td><%= @user.state_i18n %></td>
      </tr>
      <tr class="cy-user-payway">
        <th><%= User.human_attribute_name(:payway) %></th>
        <td><%= @user.payway_i18n %></td>
      </tr>
    </table>
  </div>
</div>

<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= PersonalIdentification.model_name.human %>詳細</h4>
    <div class="box-tools">
      <% if @user.personal_identification.present? %>
        <%= link_to '編集', edit_corporation_manage_user_personal_identification_path(@user, @user.personal_identification), class: 'btn btn-primary' %>
      <% else %>
        <%= link_to '登録', new_corporation_manage_user_personal_identification_path(@user), class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="box-body">
      <table class="table table-striped">
        <tr>
          <th><%= PersonalIdentification.human_attribute_name(:status) %></th>
          <td><%= @user.personal_identification.try(:status_i18n) %></td>
        </tr>
        <tr>
          <th><%= PersonalIdentification.human_attribute_name(:card_type) %></th>
          <td><%= @user.personal_identification.try(:card_type_i18n) %></td>
        </tr>
        <tr>
          <th><%= PersonalIdentification.human_attribute_name(:front_img) %></th>
          <td>
            <% if @user.personal_identification.try(:front_img).present? %>
              <%= link_to @user.personal_identification.front_img.url, target: '_blank' do %>
                <%= image_tag @user.personal_identification.front_img.url, width: '300px' %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th><%= PersonalIdentification.human_attribute_name(:back_img) %></th>
          <td>
            <% if @user.personal_identification.try(:back_img).present? %>
              <%= link_to @user.personal_identification.back_img.url, target: '_blank' do %>
                <%= image_tag @user.personal_identification.back_img.url, width: '300px' %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

