<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= t('.title') %></h4>
    <div class="box-tools">
      <%= link_to t('common.btn.new'), new_corporation_manage_reservation_path, class: 'btn btn-info' %>
    </div>
  </div>
  <div class="box-header with-border">
    <%= render 'search_form', q: @q %>
    <%= link_to t('common.btn.csv'), corporation_manage_reservations_path(q: request.params[:q], format: 'csv'), class: "btn btn-default" %>
  </div>
  <div class="box-body table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= Reservation.human_attribute_name(:block_flag) %></th>
        <th><%= Shop.human_attribute_name(:name) %></th>
        <th><%= Facility.human_attribute_name(:name) %></th>
        <th><%= User.human_attribute_name(:name) %></th>
        <th><%= Reservation.human_attribute_name(:checkin) %></th>
        <th><%= Reservation.human_attribute_name(:usage_period) %></th>
        <th><%= Reservation.human_attribute_name(:state) %></th>
        <th><%= Reservation.human_attribute_name(:price) %></th>
        <th><%= t('.how_to_payment') %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% if @reservations.present? %>
        <% @reservations.each do |reservation| %>
          <tr>
            <td class="cy-reservation-block-flag"><%= reservation.decorate.block_flag_to_text %></td>
            <td><%= reservation.facility_shop_name %></td>
            <td><%= reservation.facility_name %></td>
            <td><%= reservation.user_name %></td>
            <td class="cy-reservation-checkin"><%= reservation.checkin %></td>
            <td class="cy-reservation-usage-period"><%= reservation.decorate.usage_period_hour %></td>
            <td><%= reservation.state_i18n %></td>
            <td class="cy-reservation-price"><%= delimiter_price(reservation.price) %></td>
            <td><%= reservation.payment_method %></td>
            <td>
              <%= link_to t('common.btn.show'), corporation_manage_reservation_path(reservation), class: 'btn btn-default' %>
              <%= link_to t('common.btn.cancel'),
                          corporation_manage_reservation_path(reservation),
                          method: :delete,
                          data: { confirm: t('common.confirms.really_to_cancele') },
                          class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="20">
            <%= t('common.messages.list_not_exist', name: Reservation.model_name.human) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @reservations %>
  </div>
</div>
