<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= t('.title') %></h4>
    <div class="box-tools">
      <%= link_to t('common.btn.back'), corporation_manage_reservations_path, class: 'btn btn-default' %>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-striped">
      <tr>
        <th><%= Reservation.human_attribute_name(:id) %></th>
        <td><%= @reservation.id %></td>
      </tr>
      <tr>
        <th><%= Reservation.human_attribute_name(:block_flag) %></th>
        <td><%= @reservation.decorate.block_flag_to_text %></td>
      </tr>
      <tr>
        <th><%= Reservation.human_attribute_name(:state) %></th>
        <td><%= @reservation.state_i18n %></td>
      </tr>
      <tr>
        <th><%= Corporation.human_attribute_name(:name) %></th>
        <td><%= @reservation.facility_shop_corporation_name %></td>
      </tr>
      <tr>
        <th><%= Shop.human_attribute_name(:name) %></th>
        <td><%= @reservation.facility_shop_name %></td>
      </tr>
      <tr>
        <th><%= Facility.human_attribute_name(:name) %></th>
        <td><%= @reservation.facility_name %></td>
      </tr>
      <tr>
        <th><%= Reservation.human_attribute_name(:user_id) %></th>
        <td><%= @reservation.user_name %></td>
      </tr>
      <tr>
        <th><%= User.human_attribute_name(:email) %></th>
        <td><%= @reservation.user_email %></td>
      </tr>
      <tr>
        <th><%= Reservation.human_attribute_name(:checkin) %></th>
        <td><%= datetime_ja(@reservation.checkin) %></td>
      </tr>
      <tr>
        <th><%= Reservation.human_attribute_name(:checkout) %></th>
        <td><%= datetime_ja(@reservation.checkout) %></td>
      </tr>
      <tr>
        <th><%= Reservation.human_attribute_name(:usage_period) %></th>
        <td><%= @reservation.decorate.usage_period_hour %></td>
      </tr>
      <tr>
        <th><%= Reservation.human_attribute_name(:num) %></th>
        <td><%= @reservation.decorate.people_count %></td>
      </tr>
      <tr>
        <th><%= Reservation.human_attribute_name(:price) %></th>
        <td><%= delimiter_price(@reservation.price) %></td>
      </tr>
      <tr>
        <th><%= Payment.human_attribute_name(:token) %></th>
        <td><%= @reservation.payment_token %></td>
      </tr>
      <tr>
        <th><%= Reservation.human_attribute_name(:mail_send_flag) %></th>
        <td><%= @reservation.decorate.mail_send_flag_to_text %></td>
      </tr>
      <tr>
        <th><%= Reservation.human_attribute_name(:note) %></th>
        <td><%= simple_format(@reservation.note) %></td>
      </tr>
    </table>
  </div>
</div>
