<% content_for :middle_title do %>
  <h2><%= User.model_name.human %>詳細</h2>
<% end %>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body mt40">
      <table class="table table-striped">
        <tr>
          <th><%= User.human_attribute_name(:name) %></th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name(:email) %></th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name(:tel) %></th>
          <td><%= @user.tel %></td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name(:state) %></th>
          <td><%= @user.state_i18n %></td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name(:payway) %></th>
          <td><%= @user.payway_i18n %></td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name(:advertise_notice_flag) %></th>
          <td><%= @user.advertise_notice_flag? ? '◯' : '' %></td>
        </tr>
      </table>
      </div>
    </div>
  </div>
</div>
