<%= form_for :spot, url: spot_reservations_path(anchor: :searchbox), method: :get do |f| %>
  <div class="row">
    <div class="col-md-3 col-xs-6">
      <div class="input-group date mg-check-in">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <%= f.text_field :checkin,
          value: params[:spot][:checkin],
          class: 'form-control', autocomplete: 'off', placeholder: 'Date' %>
      </div>
    </div>
    <div class="col-md-2 col-xs-6">
      <div class="input-group">
        <%= f.text_field :checkin_time,
          value: params[:spot][:checkin_time],
          class: 'form-control timepicker',
          placeholder: 'Time' %>
      </div>
    </div>
    <div class="col-md-2 col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <%= f.select :use_hour,
            reservable_usage,
            { selected: params[:spot][:use_hour].to_f, include_blank: 'Term' },
            class: 'cs-select cs-skin-elastic' %>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <%= f.select :use_num,
            selectable_num,
            { selected: params[:spot][:use_num].to_i, include_blank: 'Person' },
            class: 'cs-select cs-skin-elastic' %>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <%= f.select :facility_type,
            Facility.facility_types_i18n.invert,
            { selected: params[:spot][:facility_type], include_blank: 'Facility Type' },
            class: 'cs-select cs-skin-elastic' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt20">
    <div class="col-md-offset-9 col-md-3">
      <button type="submit" class="btn btn-main btn-block">Search</button>
    </div>
  </div>
<% end %>

