<% content_for :middle_title do %>
  <h2><%= @facility.name %> - <%= @facility.shop_name %></h2>
<% end %>
<div class="mg-page">
  <div class="container">
    <div class="mg-booking-form">
      <ul class="nav nav-tabs">
        <li role="presentation">
          <a href="#select-room" aria-controls="select-room" role="tab" data-toggle="tab"><span class="mg-bs-tab-num">1</span><span class="mg-bs-bar"></span>ご利用情報入力</a>
        </li>
        <li role="presentation">
          <a href="#personal-info" aria-controls="personal-info" role="tab" data-toggle="tab"><span class="mg-bs-tab-num">2</span><span class="mg-bs-bar"></span>カード情報入力</a>
        </li>
        <li role="presentation" class="active">
          <a href="#payment" aria-controls="payment" role="tab" data-toggle="tab"><span class="mg-bs-tab-num">3</span><span class="mg-bs-bar"></span>確認画面</a>
        </li>
        <li role="presentation">
          <a href="#thank-you" aria-controls="thank-you" role="tab" data-toggle="tab"><span class="mg-bs-tab-num">4</span>完了</a>
        </li>
      </ul>
    </div>
    <div class="row mt20">
      <div class="col-md-6 mb20">
        <div class="text-center">
          <%= image_tag @facility.image.main.url, class: 'img-responsive' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mg-booking-form">
          <%= form_for :spot, url: reservations_path, method: :post, html: {class: 'form-horizontal js-calc-price-form'} do |f| %>
            <%= f.hidden_field :facility_id, value: @facility.id %>
            <div class="mg-saerch-room">
              <div class="mg-book-now">
                
                <div class="form-group">
                  <label class="col-sm-6 control-label">ご利用日</label>
                  <div class="input-group col-sm-6 static-text">
                    <%= session[:spot]['checkin'] %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-6 control-label">ご利用時刻</label>
                  <div class="input-group col-sm-6 static-text">
                    <%= session[:spot]['checkin_time'] %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-6 control-label">ご利用時間</label>
                  <div class="input-group col-sm-6 col-xs-12 static-text">
                    <%= session[:spot]['use_hour'] %>時間
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-6 control-label">ご利用人数</label>
                  <div class="input-group col-sm-6 col-xs-12 static-text">
                    <%= session[:spot]['use_num'] %>名
                  </div>
                </div>
                <% if @user.creditcard? %>
                  <div class="form-group">
                    <label class="col-sm-6 control-label">ご利用クレジットカード</label>
                    <div class="input-group col-sm-6 col-xs-12 static-text">
                      ************<%= @user.credit_card.card_no %>
                    </div>
                  </div>
                <% else %>
                  <div class="form-group">
                    <label class="col-sm-6 control-label">お支払い方法</label>
                    <div class="input-group col-sm-6 col-xs-12 static-text">
                      ご請求書
                    </div>
                  </div>
                <% end %>
                <div class="form-group">
                  <label class="col-sm-6 control-label">料金</label>
                  <div class="input-group col-sm-6 static-text">
                    <span><%= number_with_delimiter @price %></span><span>円</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-offset-4 col-md-4">
                    <button type="submit" class="btn btn-main btn-block" id='confirm_reservaiton_btn'>予約する</button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
