<% content_for :middle_title do %>
  <h2><%= @facility.name %> - <%= @facility.shop_name %></h2>
<% end %>
<div class="mg-page">
  <div class="container">
    <%= render 'step', active_tab: 'payment' %>
    <div class="row mt20">
      <div class="col-md-6 mb20">
        <div class="text-center">
          <%= image_tag @facility.image.main.url, class: 'img-responsive' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mg-booking-form">
          <%= form_for :spot, url: reservations_path, method: :post, html: {class: 'form-horizontal js-calc-price-form'} do |f| %>
            <%= f.hidden_field :facility_id, value: @facility.id %>
            <div class="mg-saerch-room">
              <div class="mg-book-now">
                <div class="form-group">
                  <label class="col-sm-6 control-label">ご利用日</label>
                  <div class="input-group col-sm-6 static-text">
                    <%= @condition[:checkin] %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-6 control-label">ご利用時刻</label>
                  <div class="input-group col-sm-6 static-text">
                    <%= @condition[:checkin_time] %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-6 control-label">ご利用時間</label>
                  <div class="input-group col-sm-6 col-xs-12 static-text">
                    <%= @condition[:use_hour] %>時間
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-6 control-label">ご利用人数</label>
                  <div class="input-group col-sm-6 col-xs-12 static-text">
                    <%= @condition[:use_num] %>名
                  </div>
                </div>
                <% if @user.creditcard? %>
                  <div class="form-group">
                    <label class="col-sm-6 control-label">ご利用クレジットカード</label>
                    <div class="input-group col-sm-6 col-xs-12 static-text">
                      ************<%= @user.credit_card.card_no %>
                    </div>
                  </div>
                <% else %>
                  <div class="form-group">
                    <label class="col-sm-6 control-label">お支払い方法</label>
                    <div class="input-group col-sm-6 col-xs-12 static-text">
                      ご請求書
                    </div>
                  </div>
                <% end %>
                <div class="form-group">
                  <label class="col-sm-6 control-label">料金</label>
                  <div class="input-group col-sm-6 static-text">
                    <span><%= number_with_delimiter @price %></span><span>円</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-6 control-label">備考</label>
                  <div class="input-group col-sm-6 static-text">
                    <span><%= f.text_area :note, class: 'form-control', rows: 4 %></span>
                  </div>
                </div>
                <div class="row mt30">
                  <div class="col-md-offset-4 col-md-4">
                    <button type="submit" class="btn btn-main btn-block" id='confirm_reservaiton_btn'>予約する</button>
                  </div>
                </div>
              </div>
              <p style='color: red;'>※予約時刻の24時間前までキャンセルが可能です。 <br />それ以後のキャンセルは100%の料金が発生致します。</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
