<% content_for :middle_title do %>
  <h2>施設予約</h2>
<% end %>
<a id="searchbox"></a>
<div class="mg-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mg-booking-form">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="select-room">
              <div class="mg-saerch-room">
                <div class="mg-book-now mt20">
                  <div class="row">
                    <div class="col-md-3">
                      <h2 class="mg-bn-title">Search Rooms <span class="mg-bn-big">検索条件を入力してください</span></h2>
                    </div>
                    <div class="col-md-9">
                      <div class="mg-bn-forms">
                        <%= render 'search_form', params: params, available_shops: @available_shops, shop_id: @shop_id, facility_types: @facility_types %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% if @facilities.nil? %>
                <div class="mg-available-rooms">
                  <div class="row">
                    <div class="col-md-12 text-center no-facilities">
                      上記から検索してください
                    </div>
                  </div>
                </div>
              <% else %>
                <% if @facilities.present? %>
                  <% @facilities.each do |facility| %>
                    <div class="mg-available-rooms">
                      <div class="row">
                        <div class="col-sm-3">
                          <%= link_to new_reservation_path(facility_id: facility.id) do %><% image_tag facility.image.main.url, class: 'img-responsive' %><% end %>
                        </div>
                        <div class="col-sm-5">
                          <h4 class="mg-avl-room-title">
                            <%= link_to new_reservation_path(facility_id: facility.id) do %>
                              <%= facility.name %>
                            <% end %>
                          </h4>
                          <p>
                            店舗: <%= facility.shop_name %>
                          </p>
                          <div class='mg-avl-room-desc'>
                            <%= simple_format facility.description %>
                          </div>
                          <div class="row">
                            <% if @condition[:stay].try(:to_bool) %>
                              <div class="spot-price col-xs-7">&yen;<%= facility.min_daily_price(current_user) %> / day 〜</div>
                            <% else %>
                              <div class="spot-price col-xs-7"><%= facility.decorate.display_min_price(current_user) %></div>
                            <% end %>
                            <div class="col-sm-5">
                              <%= link_to '予約する', new_reservation_path(facility_id: facility.id), class: 'btn btn-main' %>
                            </div>
                          </div>
                        </div>
                        <div class='col-sm-4'>
                          <% if facility.lat? && facility.lon? %>
                            <div class="google-map" data-lat="<%= facility.lat %>" data-lon="<%= facility.lon %>"></div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <%= paginate @facilities %>
                <% else %>
                  <div class="mg-available-rooms">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        該当する施設はございません。
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
