<div class="mg-page-title parallax">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><%= @facility.name %> - <%= @facility.shop_name %></h2>
      </div>
    </div>
  </div>
</div>
<div class="mg-page">
  <div class="container">
    <div class="mg-booking-form">
      <ul class="nav nav-tabs">
        <li role="presentation">
          <a href="#select-room" aria-controls="select-room" role="tab" data-toggle="tab"><span class="mg-bs-tab-num">1</span><span class="mg-bs-bar"></span>ご利用情報入力</a>
        </li>
        <li role="presentation">
          <a href="#personal-info" aria-controls="personal-info" role="tab" data-toggle="tab"><span class="mg-bs-tab-num">2</span><span class="mg-bs-bar"></span>カード情報入力</a>
        </li>
        <li role="presentation">
          <a href="#payment" aria-controls="payment" role="tab" data-toggle="tab"><span class="mg-bs-tab-num">3</span><span class="mg-bs-bar"></span>確認画面</a>
        </li>
        <li role="presentation" class="active">
          <a href="#thank-you" aria-controls="thank-you" role="tab" data-toggle="tab"><span class="mg-bs-tab-num">4</span>完了</a>
        </li>
      </ul>
    </div>
    <div class="alert alert-success alert-dismissible clearfix mt20">
      <div class="mg-alert-icon"><i class="fa fa-check"></i></div>
      <h3 class="mg-alert-payment">施設のご予約が完了いたしました。<br>鍵のパスワードにつきましてはご予約日時の30分前にメールにてお送りいたします。</h3>
    </div>
    <div class="row mt30">
      <div class="col-md-6 mb20">
        <div class="text-center">
          <%= image_tag @facility.image.main.url, class: 'img-responsive' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mg-booking-form">
          <div class="mg-saerch-room">
            <div class="mg-book-now">
              <div class="form-group">
                <label class="col-sm-6 control-label">施設名</label>
                <div class="input-group col-sm-6 static-text">
                  <%= @facility.name %>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-6 control-label">ご利用日時</label>
                <div class="input-group col-sm-6 static-text">
                  <%= datetime_ja @reservation.checkin %>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-6 control-label">ご利用時間</label>
                <div class="input-group col-sm-6 col-xs-12 static-text">
                  <%= @reservation.usage_period %>時間
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-6 control-label">ご利用人数</label>
                <div class="input-group col-sm-6 col-xs-12 static-text">
                  <%= @reservation.num %>名
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-6 control-label">お支払方法</label>
                <div class="input-group col-sm-6 col-xs-12 static-text">
                  <%= @user.creditcard? ? 'クレジットカード' : 'ご請求書' %>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-6 control-label">料金</label>
                <div class="input-group col-sm-6 static-text">
                  <span><%= number_with_delimiter @reservation.price %></span><span>円</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
