<div class="box box-default">
  <div class="box-header with-border">
    <div class="box-tools">
      <%= link_to t('common.btn.back'), corporation_manage_user_corps_path, class: 'btn btn-default' %>
      <%= link_to t('common.btn.edit'), edit_corporation_manage_user_corp_path(@user_corp), class: 'btn btn-primary' %>
      <% if @user_corp.deletable? %>
        <%= link_to t('common.btn.delete'), corporation_manage_user_corp_path(@user_corp), method: :delete, data: { confirm: t('common.confirms.really_to_delete') }, class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-striped">
      <tr>
        <th><%= UserCorp.human_attribute_name(:id) %></th>
        <td><%= @user_corp.id %></td>
      </tr>
      <tr class="cy-user-corp-name">
        <th><%= UserCorp.human_attribute_name(:name) %></th>
        <td><%= @user_corp.name %></td>
      </tr>
      <tr class="cy-user-corp-email">
        <th><%= UserCorp.human_attribute_name(:email) %></th>
        <td><%= @user_corp.email %></td>
      </tr>
      <tr class="cy-user-corp-tel">
        <th><%= UserCorp.human_attribute_name(:tel) %></th>
        <td><%= @user_corp.tel %></td>
      </tr>
      <tr class="cy-user-corp-max-num">
        <th><%= UserCorp.human_attribute_name(:max_user_num) %></th>
        <td><%= @user_corp.max_user_num %></td>
      </tr>
      <tr class="cy-user-corp-payway">
        <th><%= UserCorp.human_attribute_name(:payway) %></th>
        <td><%= @user_corp.payway_i18n %></td>
      </tr>
    </table>
  </div>
</div>
