<%= bootstrap_nested_form_for([:admin, corporation, shop, facility], layout: :horizontal) do |f| %>
  <%= f.text_field :name %>
  <%= f.number_field :max_num %>
  <%= f.text_field :address %>

  <%# 一般店舗以外の場合は施設タイプをhiddenで送る %>
  <% if shop.public_facility? %>
    <%= f.hidden_field :facility_type, value: :public_place %>
  <% elsif shop.ks_flexible? %>
    <%= f.hidden_field :facility_type, value: :ks_flexible %>
  <% else %>
    <%= f.select :facility_type,
      Facility.facility_types_i18n.delete_if{ |k,v| k == 'public_place' || k == 'ks_flexible' }.invert,
      {}, {prompt: '施設タイプを選択してください', onchange: 'displayFormForStay();', class: 'facility-type'} %>
  <% end %>

  <div class='option_form' id="for_stay" style="display: none;">
    <%= f.time_field :checkin_time_for_stay %>
    <%= f.time_field :checkout_time_for_stay %>
  </div>

  <%# 貸し切り対応フォーム %>
  <div class='option_form' id='chartered_area' style= "display: <%= f.object.chartered ? 'block;' : 'none;' %>">
    <div class='form-group'>
      <div class='control-label col-sm-2'>
        <label>貸し切り施設</label>
      </div>
      <div class='col-sm-10 form-inline text-left'>
        <%= link_to_add_association '行を追加',
          f, :chartered_facilities,
          data: {association_insertion_node: '#chartered_facilities'},
          class: 'btn btn-success mb15' %>
      </div>
    </div>
    <div id='chartered_facilities'>
      <%= f.fields_for :chartered_facilities do |cf| %>
        <%= render 'chartered_facility_fields', f: cf %>
      <% end %>
    </div>
  </div>

  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %>

  <% if shop.ks_flexible? %>
    <%= f.text_field :ks_room_id %>
  <% end %>
  <%= f.text_area :description, rows: 6 %>
  <div class='form-group'>
    <div class='control-label col-sm-2'>
      <label><%= Facility.human_attribute_name(:published) %></label>
    </div>
    <div class='col-sm-10 form-inline'>
      <%= f.radio_button :published, true  %><span class='ml10'>掲載する</span>
      <%= f.radio_button :published, false %><span class='ml10'>掲載しない</span>
    </div>
  </div>

  <%# 店舗がフレキシブル、公共施設の場合はKS Checkin利用有無を選択 %>
  <%# 店舗がKSC利用の場合はKS Checkin利用をhiddenで送る %>
  <%# 店舗が一般の場合はhiddenで一般予約を送る %>
  <% if shop.ks_flexible? || shop.public_facility? %>
    <%= f.select :reservation_type,
      Facility.reservation_types_i18n.select{ |k,v| k == 'rent_with_ksc' || k == 'rent_without_ksc' }.invert,
      include_blank: 'この施設の予約方法を選択' %>
  <% elsif shop.general_with_ksc? %>
    <%= f.hidden_field :reservation_type, value: :rent_with_ksc %>
  <% else %>
    <%= f.hidden_field :reservation_type, value: :general %>
  <% end %>

  <%# 一般施設のみ月額対象プラン選択表示 %>
  <% if shop.general? %>
    <%= f.form_group :facility_plans, label: {text: "月額対象プラン"} do %>
      <%= f.fields_for :facility_plans do |fp| %>
        <div class="form-inline">
          <%= fp.collection_select :plan_id,
                                   corporation.plans,
                                   :id,
                                   :name,
                                   { prompt: 'プランを選択してください',
                                     hide_label: true },
                                   { class: 'add-link-column', inline: true } %>
          <%= fp.link_to_remove "削除",
                                 confirm: t('cargo_item.remove_item_confirmation'),
                                 class: 'glyphicon glyphicon-remove', inline: true %>
        </div>
      <% end %>
      <p><%= f.link_to_add "プランを追加する", :facility_plans, class: 'btn btn-info glyphicon glyphicon-plus' %></p>
    <% end %>
  <% end %>

  <%= f.submit class: 'btn btn-primary center-block' %>
<% end %>
