<% breadcrumb :admin_corporation_shop_facility, @corporation, @shop, @facility %>

<!-- 施設詳細 -->
<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= Facility.model_name.human %>詳細</h4>
    <div class="box-tools">
      <%= link_to "戻る", admin_corporation_shop_path(@corporation, @shop), class: 'btn btn-default' %>
      <%= link_to "編集", edit_admin_corporation_shop_facility_path(@corporation, @shop, @facility), class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-striped">
      <tr>
        <th style="width: 200px;"><%= Facility.human_attribute_name(:name) %></th>
        <td><%= @facility.name %></td>
      </tr>
      <tr>
        <th><%= Facility.human_attribute_name(:image) %></th>
        <td><%= image_tag @facility.image.main.url, width: "374px" %></td>
      </tr>
      <tr>
        <th><%= Facility.human_attribute_name(:description) %></th>
        <td><%= simple_format @facility.description %></td>
      </tr>
      <tr>
        <th>対象プラン</th>
        <td><%= simple_format @facility.plans.pluck(:name).join("\n") %></td>
      </tr>
    </table>
  </div>
</div>

<!-- 施設鍵一覧 -->
<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= FacilityKey.model_name.human %>一覧</h4>
    <div class="box-tools">
      <%= link_to "新規追加", new_admin_corporation_shop_facility_facility_key_path(@corporation, @shop, @facility), class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= FacilityKey.human_attribute_name(:name) %></th>
          <th><%= FacilityKey.human_attribute_name(:password) %></th>
          <th style="width: 300px;"></th>
        </tr>
      </thead>
      <tbody>
        <% @facility.facility_keys.each do |key| %>
          <tr>
            <td><%= key.name %></td>
            <td><%= key.password %></td>
            <td>
              <%= link_to '詳細', admin_corporation_shop_facility_facility_key_path(@corporation, @shop, @facility, key), class: 'btn btn-default' %>
              <%= link_to '編集', edit_admin_corporation_shop_facility_facility_key_path(@corporation, @shop, @facility, key), class: 'btn btn-primary' %>
              <%= link_to '削除', admin_corporation_shop_facility_facility_key_path(@corporation, @shop, @facility, key), method: :delete, data: { confirm: '削除しますか?' }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- 月額対象プラン -->
<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title">月額対象プラン</h4>
    <div class="box-tools"></div>
  </div>
  <div class="box-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= Plan.human_attribute_name(:default_flag) %></th>
          <th><%= Plan.human_attribute_name(:name) %></th>
          <th><%= Plan.human_attribute_name(:price) %></th>
          <th style="width: 300px;"></th>
        </tr>
      </thead>
      <tbody>
        <% @facility.plans.each do |plan| %>
          <tr>
            <td><%= plan.default_flag? ? '◯' : '' %></td>
            <td><%= plan.name %></td>
            <td><%= plan.price %></td>
            <td>
              <%= link_to '詳細', admin_corporation_plan_path(@corporation, plan), class: 'btn btn-default' %>
              <%= link_to '編集', edit_admin_corporation_plan_path(@corporation, plan), class: 'btn btn-primary' %>
              <%= link_to '削除', admin_corporation_plan_path(@corporation, plan, form: 'facilities_show'), method: :delete, data: { confirm: '削除しますか?' }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- 都度課金対象プラン -->
<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title">都度課金対象プラン</h4>
    <div class="box-tools">
      <%= link_to "追加", new_admin_corporation_facility_facility_temporary_plan_path(@corporation, @facility), class: 'btn btn-primary' %>
    </div>
  </div>
  <div id="plan_price_table"
    data-corporation=<%="#{params[:corporation_id]}"%>
    data-shop=<%="#{params[:shop_id]}"%>
    data-facility=<%="#{params[:id]}"%>>
  </div>
</div>
