<% breadcrumb :admin_corporation_shop_facility, @corporation, @shop, @facility %>

<!-- 施設詳細 -->
<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= Facility.model_name.human %>詳細</h4>

    <div class="box-tools">
      <%= link_to "戻る", admin_corporation_shop_path(@corporation, @shop), class: 'btn btn-default' %>
      <%= link_to "編集", edit_admin_corporation_shop_facility_path(@corporation, @shop, @facility), class: 'btn btn-primary' %>
    </div>
  </div>
  <%# フレキシブル用施設且つKSroom_id未登録ならアラート表示 %>
  <% if @facility.ks_flexible? && @facility.ks_room_id.blank? %>
    <div class="full-width-alert text-center alert alert-position alert-danger alert-dismissible fade in" role="alert">
      <span>
        <span class="close" aria-hidden="true" data-dismiss="alert">×</span>
        <span class="sr-only">close</span>
      </span>
      <%= "#{@facility.name}はKEY STATION部屋IDが未登録のため、フレキシブルの連係が出来ない状態です" %>
    </div>
  <% end %>
  <div class="box-body">
    <table class="table table-striped">
      <tr>
        <th style="width: 200px;"><%= Facility.human_attribute_name(:name) %></th>
        <td><%= @facility.name %></td>
      </tr>
      <tr>
        <th style="width: 200px;"><%= Facility.human_attribute_name(:max_num) %></th>
        <td><%= @facility.max_num %></td>
      </tr>
      <tr>
        <th style="width: 200px;"><%= Facility.human_attribute_name(:facility_type) %></th>
        <td><%= @facility.facility_type_i18n %></td>
      </tr>
      <tr>
        <th><%= Facility.human_attribute_name(:image) %></th>
        <td><%= image_tag @facility.image.main.url, width: "374px" %></td>
      </tr>
      <tr>
        <th><%= Facility.human_attribute_name(:description) %></th>
        <td><%= simple_format @facility.description %></td>
      </tr>
      <tr class="cy-facility-description">
        <th><%= Facility.human_attribute_name(:published) %></th>
        <td><%= @facility.published ? '掲載中' : '掲載停止中' %></td>
      </tr>
      <% if @facility.rent? %>
        <tr class="cy-facility-description">
          <th><%= Facility.human_attribute_name(:reservation_type) %></th>
          <td><%= @facility.reservation_type_i18n %></td>
        </tr>
      <% end %>
      <tr>
        <th>月額対象プラン</th>
        <td><%= simple_format @facility.plans.pluck(:name).join("\n") %></td>
      </tr>
    </table>
  </div>
</div>

<!-- 施設鍵一覧 -->
<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= FacilityKey.model_name.human %>一覧</h4>
    <div class="box-tools">
      <%= link_to "新規追加", new_admin_corporation_shop_facility_facility_key_path(@corporation, @shop, @facility), class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= FacilityKey.human_attribute_name(:name) %></th>
          <th><%= FacilityKey.human_attribute_name(:password) %></th>
          <th style="width: 300px;"></th>
        </tr>
      </thead>
      <tbody>
        <% @facility.facility_keys.each do |key| %>
          <tr>
            <td><%= key.name %></td>
            <td><%= key.password %></td>
            <td>
              <%= link_to '詳細', admin_corporation_shop_facility_facility_key_path(@corporation, @shop, @facility, key), class: 'btn btn-default' %>
              <%= link_to '編集', edit_admin_corporation_shop_facility_facility_key_path(@corporation, @shop, @facility, key), class: 'btn btn-primary' %>
              <%= link_to '削除', admin_corporation_shop_facility_facility_key_path(@corporation, @shop, @facility, key), method: :delete, data: { confirm: '削除しますか?' }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% unless @facility.dropin? %>
  <%= render 'facility_temporary_plan', corporation: @corporation, shop: @shop, facility: @facility %>
<% else %>
  <%= render 'facility_dropin_plans', corporation: @corporation, shop: @shop, facility: @facility %>
<% end %>
