<aside class="mg-widget mt50" id="mg-room-cart">
<h2 class="mg-widget-title">プラン情報</h2>
  <div class="mg-widget-cart">
    <div class="mg-widget-cart-row">
      <strong><%= Plan.human_attribute_name(:name) %></strong>
      <span><%= plan.name %></span>
    </div>
    <div class="mg-widget-cart-row">
      <strong><%= UserContract.human_attribute_name(:started_on) %></strong>
      <span><%= date_ja(Time.zone.now) %></span>
    </div>
    <div class="mg-widget-cart-row">
      <strong><%= Plan.human_attribute_name(:description) %></strong>
      <span><%= plan.description %></span>
    </div>
    <div class="mg-cart-total">
      <strong><%= Plan.human_attribute_name(:price) %>:</strong>
      <span><%= delimiter_price(plan.price) %></span>
    </div>
  </div>
</aside>
