<% breadcrumb :admin_user_corps %>

<div class="box box-default">
  <div class="box-header with-border">
    <div class="panel panel-inverse">
      <div class="panel-body">
        <%= search_form_for @q, url: admin_user_corps_path, :class => "form-inline" do |f| %>
          <div class="mb20">
            <%= f.search_field :name_cont, placeholder: "名前", class: "form-control" %>
            <%= f.search_field :tel_cont, placeholder: "電話番号", class: "form-control" %>
            <%= f.select :state_eq, UserCorp.states_i18n.invert.map{|k, v| [k, UserCorp.states[v]]}, { include_blank: '状態を指定' }, { class: "form-control" } %>
            <%= f.submit "検索", class: "btn btn-info w40 mr10" %>
          </div>
        <% end %>
      </div>
    </div>
    <h4 class="box-title"><%= UserCorp.model_name.human %>一覧</h4>
    <div class="box-tools">
      <%= link_to '新規追加', new_admin_user_corp_path, class: 'btn btn-info' %>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= UserCorp.human_attribute_name(:id) %></th>
          <th><%= UserCorp.human_attribute_name(:name) %></th>
          <th><%= UserCorp.human_attribute_name(:tel) %></th>
          <th style="width: 200px;"></th>
        </tr>
      </thead>
      <tbody>
        <% if @user_corps.present? %>
          <% @user_corps.each do |user_corp| %>
            <tr>
              <td><%= user_corp.id %></td>
              <td><%= user_corp.name %></td>
              <td><%= user_corp.tel %></td>
              <td>
                <%= link_to '詳細', admin_user_corp_path(user_corp), class: 'btn btn-default' %>
                <%= link_to '編集', edit_admin_user_corp_path(user_corp), class: 'btn btn-primary' %>
                <%= link_to '削除', admin_user_corp_path(user_corp), method: :delete, data: { confirm: '削除しますか?' }, class: 'btn btn-danger' %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="20">
              表示する<%= UserCorp.model_name.human %>はありません
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @user_corps %>
  </div>
</div>
