<% if @user_corp.present? %>
  <% breadcrumb :admin_user_corp_user, @user_corp, @user %>
<% else %>
  <% breadcrumb :admin_user, @user %>
<% end %>

<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= User.model_name.human %>詳細</h4>
    <div class="box-tools">
      <% if @user_corp.present? %>
        <%= link_to "戻る", admin_user_corp_path(@user_corp), class: 'btn btn-default' %>
        <%= link_to "編集", edit_admin_user_corp_user_path(@user_corp, @user), class: 'btn btn-primary' %>
        <%= link_to '削除', admin_user_corp_user_path(@user_corp, @user), method: :delete, data: { confirm: '削除しますか?' }, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to "戻る", admin_users_path, class: 'btn btn-default' %>
        <%= link_to "編集", edit_admin_user_path(@user), class: 'btn btn-primary' %>
        <%= link_to '削除', admin_user_path(@user), method: :delete, data: { confirm: '削除しますか?' }, class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-striped">
      <tr>
        <th><%= User.human_attribute_name(:id) %></th>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <th><%= UserCorp.model_name.human %></th>
        <td><%= link_to @user.user_corp_name, admin_user_corp_path(@user_corp) if @user_corp.present? %></td>
      </tr>
      <tr>
        <th><%= User.human_attribute_name(:name) %></th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th><%= User.human_attribute_name(:email) %></th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th><%= User.human_attribute_name(:tel) %></th>
        <td><%= @user.tel %></td>
      </tr>
      <tr>
        <th><%= User.human_attribute_name(:state) %></th>
        <td><%= @user.state_i18n %></td>
      </tr>
      <tr>
        <th><%= User.human_attribute_name(:payway) %></th>
        <td><%= @user.payway_i18n %></td>
      </tr>
      <tr>
        <th><%= User.human_attribute_name(:user_type) %></th>
        <td><%= @user.user_type_i18n %></td>
      </tr>
      <tr>
        <th><%= User.human_attribute_name(:advertise_notice_flag) %></th>
        <td><%= @user.advertise_notice_flag? ? '◯' : '' %></td>
      </tr>
    </table>
  </div>
</div>
<div class="box box-default">
  <div class="box-header with-border">
    <h4 class="box-title"><%= PersonalIdentification.model_name.human %>詳細</h4>
    <div class="box-tools">
      <% if @user.personal_identification.present? %>
        <%= link_to "編集", edit_admin_user_personal_identification_path(@user, @user.personal_identification), class: 'btn btn-primary' %>
      <% else %>
        <%= link_to "登録", new_admin_user_personal_identification_path(@user), class: 'btn btn-primary' %>
      <% end %>
    </div>
      <div class="box-body">
        <table class="table table-striped">
          <tr>
            <th><%= PersonalIdentification.human_attribute_name(:status) %></th>
            <td><%= @user.personal_identification.try(:status_i18n) %></td>
          </tr>
          <tr>
            <th><%= PersonalIdentification.human_attribute_name(:card_type) %></th>
            <td><%= @user.personal_identification.try(:card_type_i18n) %></td>
          </tr>
          <tr>
            <th><%= PersonalIdentification.human_attribute_name(:front_img) %></th>
            <td>
              <% if @user.personal_identification.try(:front_img).present? %>
                <%= link_to @user.personal_identification.front_img.url, target: '_blank' do %>
                  <%= image_tag @user.personal_identification.front_img.url, width: '300px' %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th><%= PersonalIdentification.human_attribute_name(:back_img) %></th>
            <td>
              <% if @user.personal_identification.try(:back_img).present? %>
                <%= link_to @user.personal_identification.back_img.url, target: '_blank' do %>
                  <%= image_tag @user.personal_identification.back_img.url, width: '300px' %>
                <% end %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
  </div>
</div>

