<%= bootstrap_nested_form_for([:corporation_manage, shop, facility], layout: :horizontal) do |f| %>
  <%= f.text_field :name, placeholder: t('.add_name') %>
  <%= f.number_field :max_num %>
  <%= f.text_field :address, placeholder: t('.add_adress') %>
  <%= f.select :facility_type, Facility.facility_types_i18n.invert, prompt: t('.add_facility_type') %>
  <%= f.file_field :image %>
  <%= f.text_area :description, rows: 6 %>
  <%= f.form_group :facility_plans, label: {text: t('.target_plan')} do %>
    <%= f.fields_for :facility_plans do |fp| %>
      <div class="form-inline cy-facility-plans">
        <%= fp.collection_select :plan_id,
                                 current_corporation.plans,
                                 :id,
                                 :name,
                                 { prompt: t('.select_plan'),
                                   hide_label: true },
                                 class: 'add-link-column cy-select-plan',
                                 inline: true %>
        <%= fp.link_to_remove t('common.btn.delete'),
                              class: 'glyphicon glyphicon-remove',
                              inline: true %>
      </div>
    <% end %>
    <%= f.link_to_add t('.add_plan'), :facility_plans, class: 'btn btn-info glyphicon glyphicon-plus cy-add-plan' %>
  <% end %>
  <%= f.submit class: 'btn btn-primary center-block' %>
<% end %>
