<%= bootstrap_form_for([:corporation_manage, @information], layout: :horizontal) do |f| %>
  <%= f.collection_select :shop_id, current_corporation.shops, :id, :name, prompt: t('.input_shop') %>
  <%= f.text_field :title, placeholder: t('.input_title') %>
  <%= f.text_area :description, rows: 10 %>
  <%= f.datetime_select :publish_time, { use_month_numbers: true }, { class: 'form-control bootstrap-date' } %>
  <%= f.select :info_type, Information.info_types_i18n.invert %>
  <%= f.form_group :information_shops, label: {}, class: 'js-info-shops' do %>
    <input type="checkbox" class="js-all-checkbox">
    <label><%= t('common.select_all') %></label>
    <%= collection_check_boxes(:information, :shop_ids, current_corporation.shops, :id, :name, {}, class: 'js-shop-checkbox') do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
  <% end %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
