<%= bootstrap_nested_form_for([:admin, corporation, facility, facility_pack_plan]) do |f| %>
  <%= f.collection_select :plan_id, @corporation.plans.all, :id, :name, {include_blank: '非会員' } %>
  <%= f.select :ks_room_key_id, options_for_select(@facility.facility_keys.map {|f| [f.name, f.ks_room_key_id]}, selected: f.object.ks_room_key_id), include_blank: true, help: '鍵が「空」の場合は、施設詳細の施設鍵一覧で登録してください' %>
  <%= f.text_field :guide_mail_title, help: '「空」の場合は案内メールの通知機能は「オフ」になります' %>
  <%= f.text_area :guide_mail_content, rows: 10, id: 'guide-mail-content' %>
  <div class='form-group'>
    <%= link_to 'パスワード挿入', '#', class: 'btn btn-xs btn-info', id: 'insert-pwd' %>
    <span class="help-block">
      パスワードを表示されたい箇所に、【パスワード挿入】ボタンを押してください
    </span>
  </div>
  <%= f.file_field :guide_file, help: '新しいファイルをアップロードすると既存の案内ファイルが上書きされます' %>
  <div class='form-group'>
    <% if f.object.guide_file.present? %>
      <%= f.label '既存の案内ファイル' %><br/>
      <%= link_to f.object.guide_file.file.filename, f.object.guide_file.url %>
    <% end %>
  </div>
  <%= f.select :unit_time, FacilityPackPlan::UNIT_TIMES, include_blank: 'ご利用時間' %>
  <%= f.number_field :unit_price, in: 0.0..999999.0, placeholder: '0〜999999' %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
